<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Memo's Notify</title>
    </head>
    <body>
        <button onclick="authorize();">登入</button>
        <script>
            function authorize() {
                const url = 'https://notify-bot.line.me/oauth/authorize';

                const query = new URLSearchParams({
                    response_type: 'code',
                    scope: 'notify',
                    client_id: '{{.ClientID}}',
                    redirect_uri: '{{.CallbackURL}}',
                    state: '{{.State}}',
                });

                window.location.href = `${url}?${query.toString()}`;
            }
        </script>
	</body>
</html>
